<div class='country-block'>
  <img
    class='img-flag'
    src='{{this.flags.svg}}'
    alt='{{this.name.official}}flag'
    style='width:30px'
  />
  <h1 class='country-h'>{{this.name.official}}</h1>
</div>
<p class='text'><b>Capital: </b>{{this.capital}}</p>
<p class='text'><b>Population: </b>{{this.population}}</p>
<p class='text'><b>Languages: </b>{{this.languages}}</p>